// 設定背景
body {
  background:url(/images/bg.jpg) 50% 50% fixed no-repeat;
  background-size: cover;
}

// 設定 site-brand 顏色
.site-brand-container {
  background: #232323;
}

// footer 顏色
.footer {
  color: #fff;
  background: rgba(0,0,0,0.2);
  font-weight: 500;
  padding:0;
  margin-top: 40px;
}

.theme-link {
  color: #eee;
}

.theme-link:hover {
  color: #fff;
}

// 文章默認展開
.post-toc .nav .nav-child { display: block; }

// 文章目錄字體大小
.post-toc ol {  
  font-size : 13px;     
} 

:root {
  --content-bg-color: rgba(255,255,255,0.95);
}